button  {
font-size: 30px;
border-radius: 10px;
width: 200px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color: blanchedalmond;
}

head, body{
background-image: url(https://www.fairobserver.com/wp-content/uploads/2020/03/markets-2.jpg);
background-position:fixed;
background-size:100%;
background-repeat: no-repeat;
color: rgb(52, 43, 235);
font-size: 25px;
height: 100%;
}

#outputExchange, #outputConvert  {
color: rgb(52, 43, 235);
}

#list  {
  border: 10px solid rgb(55, 55, 164);
  border-radius: 12px;
  overflow: scroll;
  height: 575px;
  width: 300px;
  margin-bottom: fixed;
  background-color: royalblue;
  color:blanchedalmond;
}

#left {
  border: 5px solid rgb(55, 55, 164);
  border-radius: 10px;
  background-color: rgb(90, 203, 205);
}

#right {
  border: 5px solid rgb(55, 55, 164);
  border-radius: 10px;
  background-color: rgb(90, 203, 205);
}

#countryList  {
  border: 5px solid rgb(55, 55, 164);
  border-radius: 12px;
  overflow: scroll;
  height: 150px;
  width: 550px;
  margin-bottom: 0px;
}

#countryListContainer {
  margin-top: 25px;
}

